<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.school.message.web.mapper.UserMapper">


    <insert id="insert" parameterType="User" useGeneratedKeys="true" >
        INSERT INTO `m_user` (  `username`, `role`, `photoPath`, `birthday`, `nickname`, `desc`,  `mobilePhone`, `weixin`, `email` )
        VALUES
            ( #{username}, #{role}, #{photoPath}, #{birthday}, #{nickname}, #{desc},  #{mobilePhone}, #{weixin}, #{email} );



    </insert>

    <update id="update" parameterType="User" >

        UPDATE `m_user`
        SET
            `role` = #{role},
            `photoPath` = #{photoPath},
            `birthday` = #{birthday},
            `nickname` = #{nickname},
            `desc` = #{desc},

            `mobilePhone` = #{mobilePhone},
            `weixin` = #{weixin},
            `email` = #{email}
        WHERE
            `id` = #{id};
    </update>

    <delete id="delete" parameterType="long" >
        DELETE FROM m_user WHERE id = #{id}
    </delete>
    <select id="query" resultType="User">

        SELECT * FROM m_user

    </select>


</mapper>